* {
    box-sizing: border-box;
}
body {
    background-color: black;
}
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 36px;
    font-weight: 600;
}
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 36px;
}
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 36px;
}
h4 {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 36px;
}
h5 {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 36px;
}
h6 {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 36px;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(211, 211, 211);
    font-size: 20px;
} 
figcaption {
    color: rgb(211, 211, 211);
}
a:link {
	color: #00A2FF;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:visited {
	color: rgb(8, 144, 223);
	background-color: transparent;
	text-decoration: none;
  }
  
  a:hover {
	color: #F53D65;
	background-color: transparent;
	text-decoration: underline;
  }
  
  a:active {
	color: #F53D65;
	background-color: transparent;
	text-decoration: underline;
}
header {
    color: rgb(75, 75, 75);
    height: 150px;
    width: 100%;
    background-image: url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 1px;
    margin-bottom: 1px;
}
header h1 {
    margin: 1%;
}
main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
} 
section {
    width: 100%;
    height: 100%;
    padding: 1%;
    text-align: center;
} 
aside {
    width: 20%;
    height: 100%;
    padding: 1%;
} 
article {
    width: 80%;
    height: 100%;
    background-color: black;
    padding: 10%;
    margin: 0 auto 20vh;
    text-align: left;
    float: right;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: rgb(8, 144, 223);
    border-style: ridge;
    border-width: 24px;
} 
footer {
    width: 100%;
    clear: both;
    text-align: center;
    padding: 1%;
    background-color: #333;
}
.accomp ul li {
    font-size: 20px;
    padding: 5px;
    background-color: black;
    color: rgb(211, 211, 211);
    list-style-position: inside;
}